include ../brand/brand
include ../menu-list/menu-list
include ../search/search
include ../start-event/start-event
include ../section-info/section-info

mixin header(data)
    +b('header').header
        
        +e.asside
            +brand()
            +e.nav
                +b('nav').nav
                    +menu-list(menuList)
                +search()
                +start-event()
                +b.location California
        

        .swiper.main-slider
            svg(xmlns='http://www.w3.org/2000/svg' class='main-map' fill='none' viewBox='0 0 1000 495')
                path(stroke='var(--white)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1007.08 163.448 442.182-356.858V-747.19L27.11-770c-3.206 7.544-23.743 29.286-20.538 41.404 3.858 14.494 23.267 9.861 28.906 19.187 6.588 10.989-4.749 55.66-8.132 68.549-6.47 24.415-21.25 44.195-25.524 68.61-7.182 40.987 7.36 37.72 34.902 63.323 46.417 43.185 9.2 87.975 20.894 138.704 9.497 41.345 50.987 62.669 66.182 104.012 11.753 31.841 27.897 39.978 52.946 63.264-.593-14.137-13.236-55.838 10.507-52.155 23.564 3.624 14.483 38.433 18.994 52.987 3.798 12.118 30.686 36.354 8.369 47.522-7.42 3.683-28.55-10.989-37.039-14.91 5.995 18.712 2.197 38.136 11.694 56.016 11.337 21.325 23.564 13.128 38.582 24.712 15.491 11.94 13.83 25.661 6.944 43.72-7.182 18.83-14.601 15.92-3.205 38.612 8.251 16.394 22.258 37.185 34.308 49.66 7.004 7.246 14.602 8.91 21.606 18.176 5.817 7.722 3.561 17.821 10.506 24.77 11.871 11.94 31.994 12.119 41.372 27.741 10.447 17.405-1.424 30.533 29.322 28.929 1.603 34.81 8.191 66.352 7.835 101.161 17.154 6.831 44.873-1.307 62.858-4.931 17.867 24.117 40.956 7.366 61.375 20.495 8.904 5.702 7.063 19.959 12.465 24.948 11.1 10.217 19.29 3.802 33.062 7.366 10.209 2.614 18.103 10.098 27.837 12.831 9.2 2.554 24.337-3.445 31.163 4.693 8.191 9.742-5.521 27.562 6.826 35.403 10.268 6.534 24.988-9.029 34.961-6.772 11.633 2.673 44.991 33.147 53.183 43.185 9.319 11.465 18.698 32.85 23.979 47.581 8.251 23.048 7.123 34.334 24.158 51.205 10.862 10.752.534 11.524 18.222 14.672 11.574 2.079 26.888-6.296 38.582-7.603 24.337-2.673 48.91 1.96 72.89-2.614 22.319-4.277 43.627-11.287 66.538-14.554 19.825-2.851 54.727-.653 72.3-10.098 19.05-10.158 20.77-33.147-6.77-28.869-2.2-14.672 7.6-34.929-3.32-45.085 15.19-20.791 20.71-35.463 23.08-60.888 1.07-11.167 1.55-23.523 7.07-32.909 5.4-9.267 20.59-14.791 23.56-22.751 4.57-12.356-2.73-17.88-8.31-24.771-3.56-4.455-13.71-2.316-16.62-6.237-5.4-7.188-.06-14.613-3.03-21.86-8.66-20.969-18.99-29.226-25.52-52.987.18 3.98.36 8.019.12 11.94' opacity='.298') 
                g(class='main-map__way')
                    path(class='main-map__north-way' stroke='var(--white)' stroke-width='2' d='M728 84.036c-18.197 13.95-66.448 38.99-58.514 67.483 0 38.49-60.486 2.981-68.486-7.019-10-9-64.091-6.5-66.5 10.5-2.975 20.995-4.514 46.265-20.5 55.504-11.375 6.573-55.5-23.004-55.5-23.004s-40-9.5-61-7-3.229 30.004-3.229 30.004c13.229 28.496-18.552 2.673-24.284 5.992-4.489 2.6-3.991 5.669-5.987 8.504')
                    path(class='main-map__south-way' stroke='var(--white)' stroke-width='2' d='M728.114 83.94c-8.568 23.381 11.5 31.586 27.561 46.867 4.759 4.529 5.213 12.01.204 16.535-10.772 9.732-51.615-4.425-49.025 8.403 2.676 13.249 37.207 31.786 38.764 33.054 13.666 11.133 18.117 39.375 10.59 54.859-5.356 11.018-40.866 7.304-52.036 3.635-73.148-24.027-40.187-21.162-122.355-28.623-6.29-.571-12.882-.864-18.923.98-6.223 1.899-6.025 9.689-3.937 13.9 6.919 13.956 37.892 37.628 29.557 55.973-2.558 5.629-8.551 9.184-11.25 14.747-2.113 4.357-1.879 9.502-2.819 14.253')
                    path(class='main-map__west-way' stroke='var(--white)' stroke-width='2' d='M728.5 84c-11 27 17.5 32.5 30.5 51.5 1.098 1.604 1.556 4.118-1.119 9.5C753 157.5 702 144 706.5 155.5c2.5 15.5 44 30 48.5 46.5 0 0 8.5 23.5 2.5 39-5.937 15.338-42 9.844-57.5 5-12.5-3.906-43-15.5-43-15.5-23.5-6.5-48.5 18-46 48.5l4.5 18.5s0 8.5 22.5 25.5c0 0 25.921 13.433 24.479 20.048-1.129 5.183-1.003 11.301-1.505 16.952')
                    path(class='main-map__east-way' stroke='var(--white)' stroke-width='2' d='M727.5 83.5c-6 30.5 14 29.5 31.5 52 6 26.5-45 8-52.5 17.5 2 18 37.5 31.656 44 41 6.5 9.344 47.5 107.5 21 101.5-47.5 2.5-42.554-9.595-58.5-4-28.5 10-29.5 27-29.5 27s-5 35.901 6.5 35.901c23 4.099 16.466 17.205 18.5 24.099 6.741 22.845 23.621-1.53 15.5 28.5-2.492 9.214 25.629 41.394 23 50.5-2.059 7.133-22.084 1.723-23 9.5')
                circle(class='main-map__start-point' cx='728.5' cy='84.5' r='6.5' fill='#4AF6CD')
                circle(class='main-map__north-point' cx='364' cy='225' r='3' fill='#4AF6CD')
                circle(class='main-map__south-point' cx='575' cy='319' r='3' fill='#4AF6CD')
                circle(class='main-map__west-point' cx='660' cy='360' r='3' fill='#4AF6CD')
                circle(class='main-map__east-point' cx='724' cy='468' r='3' fill='#4AF6CD')
                text(class='main-map__start-text' x='630' y='70' fill='var(--white)') Current Location
                g(class='main-map__text')
                    text(class='main-map__north-text' x='270' y='255' fill='var(--white)') North Shore | Malibu, CA
                    text(class='main-map__south-text' x='390' y='319' fill='var(--white)') South Shore | Malibu, CA
                    text(class='main-map__west-text' x='525' y='390' fill='var(--white)') West Shore | Malibu, CA
                    text(class='main-map__east-text' x='624' y='493' fill='var(--white)') East Shore | Malibu, CA
            .swiper-wrapper
                each item in data.mainSlider
                    .swiper-slide(style=`background-image: url(${item.bg})` loading='lazy')
                        .main-slider__cnt
                            p.main-slider__subtitle(data-swiper-parallax="-100")= item.subtitle
                            h2.main-slider__bigtitle= item.title 

                            +section-info(item.slides)
                            
                            +icon({icon: 'arrow-right', class: 'main-slider__arrow-right'}) 

                        .swiper-lazy-preloader.swiper-lazy-preloader-white
            .swiper-button-next
                +icon({icon: 'arrow-right', class: 'arrow-right'}) 
            .swiper-button-prev
                +icon({icon: 'arrow-left', class: 'arrow-left'}) 
        
        .swiper.thumb-slider(thumbsSlider='')
            .swiper-wrapper
                each item in data.secondarySlider
                    .swiper-slide
                        .fraction= item.fraction
                        .text= item.text
        